
<mat-dialog-content style="color: #020202; background-color: #f2f2f2;">
 <form >
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.courseName">
     <br>
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.courseNo">
     <br>
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.SchoolName">
     <br>
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.DurationYears">
     <br>
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.DepartmentCode">
     <br>
     <input readonly="true" type="text" id="course" name="course" [(ngModel)]="coursedata.LevelOfStudy">


   </form>
 </mat-dialog-content>
   
   
<mat-dialog-actions style="justify-content: flex-end;">
 <button mat-button mat-dialog-close style="color: #000;">Cancel</button>
</mat-dialog-actions>
