
<mat-dialog-content style="color: #020202; background-color: #f2f2f2;">
 <form >
    <label for="name">Course No</label>
    <br>
     <input readonly="true" type="text" id="course" name="course" [value]="this.data.CourseNo">
     <br>
     <label for="name">Course Name</label>
    <br>
     <input readonly="true" type="text" id="course" name="course" [value]="this.data.CourseName">
     <br>
     <label for="name">Duration in Years</label>
    <br>
     <input readonly="true" type="text" id="course" name="course" [value]="this.data.DurationYears">
     <br>
     <label for="name">School Name</label>
    <br>
     <input readonly="true" type="text" id="course" name="course" [value] ="this.data.SchoolName">
     <br>
     <label for="name">Level Of Study</label>
    <br>
     <input readonly="true" type="text" id="course" name="course" [value]="this.data.LevelOfStudy">
   </form>
 </mat-dialog-content>
   
   
<mat-dialog-actions style="justify-content: flex-end;">
 <button mat-button mat-dialog-close style="color: #000;">Cancel</button>
</mat-dialog-actions>
