<h1>Apply for a Course</h1>
<mat-dialog-content style="color: #292828; background-color: #ffffff;">
 <form >
     <label for="name">First Name</label>
     <br>
     <input readonly="true" type="text" id="name" name="Fname" [(ngModel)]="user.FirstName" required="true">
     <br>
     <label for="name">Middle Name</label><br>
     <input readonly="true" type="text" id="name" name="Mname" [(ngModel)]="user.MiddleName" required>
     <br>
     <br>
     <label for="name">Surname</label><br>
     <input readonly="true" type="text" id="name" name="Sname" [(ngModel)]="user.SurName" required>
     <br>
     <label for="Date_of_Birth">Date of Birth</label>
     <br>
     <input type="date" id="Date_of_Birth" name="Date_of_Birth" [(ngModel)]="formData.Date_of_Birth"  required>
     <br>
     <label for="email">Email</label> 
     <br>
     <input readonly="true" type="email" id="email" name="email" [(ngModel)]="user.Email"required>
     <br>
     <label for="number">Phone number</label>
     <br>
     <input readonly="true" type="text" id="number" name="Pnumber" [(ngModel)]="user.PhoneNumber"required minlength="10" >
     <div *ngIf="phoneNoControl.invalid && (phoneNoControl.dirty || phoneNoControl.touched)">
      <div *ngIf="phoneNoControl.errors">Phone number is required.</div>
      <div *ngIf="phoneNoControl.errors">Phone number must be at least 10 digits.</div>
     </div>
     <br>
     <label for="number">ID No</label>
     <br>
     <input type="text" id="number" name="number" [(ngModel)]="formData.Id_No"required minlength="10" >
     <div *ngIf="idNoControl.invalid && (idNoControl.dirty || idNoControl.touched)">
      <div *ngIf="idNoControl.errors">ID number is required.</div>
      <div *ngIf="idNoControl.errors">ID number must be less than or equal to 8 digits.</div>
      <div *ngIf="idNoExists">ID number already exists.</div>
     </div>
     <br>
     <label for="text">COURSE No</label>
     <br>
     <input  type="text" id="courseno" name="courseNo" [(ngModel)]="formData.Course">  
     <br>
     <label for="text">COURSE Name</label>
     <br>
    <input  type="text" id="coursename" name="courseName" [(ngModel)]="formData.CourseName">  

    <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner diameter="30"></mat-spinner>
    </div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
   </form>

 </mat-dialog-content>
   

<mat-dialog-actions style="justify-content: flex-end;">
 <button mat-button mat-dialog-close style="color: #000;">Cancel</button>
 <button mat-button color="primary" style="color: #fff; background-color: blue;" (click)="onapply()">Apply </button>
</mat-dialog-actions>
