h1{
    color: rgb(18, 16, 145);
    text-align: center;
    text-emphasis-style: bold;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  