<h2 mat-dialog-title>Update Application</h2>
<mat-dialog-content style="color: #020202; background-color: #f2f2f2;">
  <div>
    <form >
        <label for="name">First Name</label>
        <br>
        <input  type="text" id="name" name="name" [(ngModel)]="updateData.FirstName" required>
        <br>
        <label for="name">Surname</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="updateData.Surname" required>   
        <br>
        <label for="email">Email</label> 
        <br>
        <input type="email" id="email" name="email" [(ngModel)]="updateData.Email"required>
        <br>
        <label for="number">Phone number</label>
        <br>
        <input type="text" id="number" name="number" [(ngModel)]="updateData.Phone_No"required>
        <br>
        <input readonly="true" type="text" id="course" name="course" [value]="updateData.CourseNo">;

      </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button mat-dialog-close style="color: #faf9f9; background-color: rgb(126, 126, 133);">Cancel</button>
  <button mat-button color="primary" style="color: #fff; background-color: blue;" (click)="onUpdate()"> Save</button>
</mat-dialog-actions>




   
